<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Student_Managament"
        tools:targetApi="31">
        <activity
            android:name=".UpdateScore"
            android:exported="false" />
        <activity
            android:name=".AddScore"
            android:exported="false" />
        <activity
            android:name=".ScoreManageListSubject"
            android:exported="false" />
        <activity
            android:name=".UpdateClass"
            android:exported="false" />
        <activity
            android:name=".DetailClass"
            android:exported="false" />
        <activity
            android:name=".UpdateTeacher"
            android:exported="false" />
        <activity
            android:name=".DetailTeacher"
            android:exported="false" />
        <activity
            android:name=".AddTeacher"
            android:exported="false" />
        <activity
            android:name=".UpdateSubject"
            android:exported="false" />
        <activity
            android:name=".DetailSubject"
            android:exported="false" />
        <activity
            android:name=".AddSubject"
            android:exported="false" />
        <activity
            android:name=".Fragment.ClassesManager"
            android:exported="false" />
        <activity
            android:name=".Fragment.ScoreManager"
            android:exported="false" />
        <activity
            android:name=".Fragment.NoticeManager"
            android:exported="false" />
        <activity
            android:name=".UpdateStudent"
            android:exported="false" />
        <activity
            android:name=".Fragment.SubjectManage"
            android:exported="false" />
        <activity
            android:name=".Fragment.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".DetailStudent"
            android:exported="false" />
        <activity
            android:name=".Fragment.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".Adapter.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".AddStudent"
            android:exported="false" />
        <activity
            android:name=".Fragment.StudentManager"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>